<div class="container">
  <div class="row full-question">
    <div class="col-md-12 full-question-header">
      <h4><em>( {{question.author}} )</em></h4>
      <p>{{moment-format question.timestamp}}</p>
    </div>
    <div class="col-md-12 full-question-question">
      <p>{{question.question}}</p>
      <p>Notes: {{question.notes}}</p>
    </div>
  </div>
</div>
