<div class="row">
  <div class="col-md-8">
    <h2>About Ribbit</h2>
    <p>Ribbit is a question and answer forum web application built with EmberJS.</p>
    <p>In Ribbit, you can submit a question on the home page with additional notes and your name. You can edit these questions.</p>
    <p>All questions are listed on the home page, sorted by the most recent question. If you are interested in a question or know an answer, you can click on a question link and submit answers to a question on that question's page.</p>
  </div>
  <br>
  <div class="col-md-8">
    <h3>What's With the Name?</h3>
    <p>When frogs make their call 'ribbit', they are actually calling to a prospective mate, saying 'Hey, come over here and mate with me!' or 'Where are you?'. In the same way (minus the mating), you can call out to other Ribbiters and ask a question from far off in the forest. Or from your tablet, mobile device, or desktop.</p>
    <div class="row">
      <div class="col-md-6 note">
        <h4><u>Note</u></h4>
        <p>At Ribbit, we forbid all forms of sexual harrassment and any type of abuse. Please do not misconstrue the idea of 'ribbiting' to other Ribbiters as an invitation to ask to mate. Any users found to be violating these terms, will be blocked from this site.</p>
      </div>
    </div>
  </div>
  <hr>
  <hr>
  <div class="col-md-8">
    <h2>Ribbit Staff</h2>
    <div class="row">
      <div class="col-md-7">
        <h3>Jerry - Cascades Frog</h3>
        <p>
          <img src="http://www.nps.gov/olym/learn/nature/images/Cascadefrog375.jpg" alt="Jerry the Cascades Frog" />
        </p>
        <p>
          This is Jerry, Ribbit's CEO and chief developer. He's a Cascades Frog. He spends most of his free time hanging out in puddles. Between May 20th and July 10th, he devotes his time to hanging out in the nicest of puddles trying to attract a mate with his low, grating, clucking call. However, he's pretty young (only 2 years old!), so he hasn't spawned yet, since female Cascades frogs prefer more mature frogs.
        </p>
      </div>
      <br>
      <div class="col-md-7">
        <h3>Jon P - Rough-skinned Newt</h3>
        <p>
          <img src="http://www.nps.gov/olym/learn/nature/images/newtJonP150.jpg" alt="Jon P the Rough-skinned Newt" />
        </p>
        <p>
          This is Jon P, Ribbit's IT guy and general grouch. He's a Rough-skinned Newt and a little on the rough side. He'll help you with your hardware though! You just have to get to know him and he'll show you his soft, but fiery, underbelly. Just don't touch the belly - it's poisonous! He mostly likes to chill with other Rough-skinned newts in the forest and ponds.
        </p>
      </div>
    </div>
  </div>
</div>
