<div class="row">
  <div class="col-md-8  col-md-offset-2">
    <h2>Contact Us!</h2>
    <p>Address: Hoh Rain Forest Visitor Center, Forks, WA 98331<br>
       Email: contact@ribbit.com<br>
       Phone number: (503)555-FROG<br>
    </p>
  </div>
</div>
